<configuration>
   <appSettings>
    <add key="SQLTableConnString" value="Server=tcp:vdbanalytics.database.windows.net,1433;Initial Catalog=vdbanalytics-dev;Persist Security Info=False;User ID=vdbadmin;Password=admin123$$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
     <add key="QueueConnString" value="Endpoint =sb://namevdbanalyticssb.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=iPG1toRxfEuo8JD2Hye7DzX/nnfJUtwvBn8Q5znceKY="/>
     <add key="QueueName" value="aggregationsbqueue"/>
   </appSettings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
